<h1><%= @post.title %></h1>
<h2> BY: <%= @post.author.username %> </h2>
<h4> <%= @post.url %> </h4>

<% if current_user.id == @post.author_id %>
<%= link_to "Edit", edit_post_url(@post.id) %>
<% end %>
<br>
<p>
  <%= @post.content %>
</p>


  <#%= link_to "Back to ", redirect_to :back %>
